body, html{
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f5f7fa;
}

#container-dashboard {
    height: 100%;
    width: 100%;
}

/*==============================================================*/
#dashboard-content {
	position: fixed;
	top: 50px;
	left: 12%;
	padding: 20px;
	width: calc(100% - 12%);
    height: calc(100% - 70px);
    background: #f5f7fa;
    text-align: center;
    overflow: scroll;
}
/*CSS correspondiente a la sección contenido*/
/*==============================================================*/

.dashboard-content {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    text-align: inherit;
}

/*Widgets dashboard*/

.square a {
  text-decoration: none;
  color: inherit;
}
.square a:link {
  text-decoration: none;
}

.square a:visited {
  text-decoration: none;
}

.dashboard-content .widget-content {
    padding-top: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
}

.dashboard-content .widget {
    border: 1px solid #ccc;
    background: #f5f7fa;
    margin : 2%;
    height: 40%;
    min-height: 200px;
    width: 45%;
    min-width: 385px;
    overflow: hidden;
    -webkit-box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
    -moz-box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
    box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
}

.dashboard-content .widget-header {
    height: 40px;
    background: #fff;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.dashboard-content .content-widget {
    background: #fff;
    height: calc(100% - 40px);
    width: 100%;
    text-align: left;
    overflow-y: scroll;
}

.dashboard-content .title {
  vertical-align: -40%;
    margin: 0;
  font-size: 1.4em;
  display: inline-block;
}

.dashboard-content .title-items {
    display: inline-block;
    float: right;
    margin: 10px 0 10px 0;
}

.dashboard-content .square {
  text-decoration: none;
  color: #ed5565;
  border: 1px solid #ed5565;
  padding: 2px 8px;
}

.dashboard-content .square:hover {
  color: #000;
  background: #ed5565
}

.dashboard-content .widget-media {
    padding: 10px;
    width: 100%;
    display: inline-block;
}

.dashboard-content .widget-media:hover {
    background: #E0E0E0;
}

.dashboard-content .widget-media-left {
  display: inline-block;
  vertical-align: top;
}

.dashboard-content .widget-media-body {
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  font-size: 1.1em;
}

.dashboard-content .text-muted {
  color: #777;
}

/*Cuadro de búsqueda */

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  transform: translate(-50%, -50%);
}

/*==============================================================*/

/*Content de los widgets del dashboard */

.widget-content li{
    border: 1px solid grey;
    list-style: none;
    width: 100%;
}

/*==============================================================*/

/*DataTables components*/

.dataTables_length {
    float: left;
}

.dataTables_filter{
    float: right;
}
.dataTables_info{
    float: left;
}

.table > thead > tr > th{
    text-align: center;
}

/*Tablas administrador*/

.admin-table th{
    background-color: #16a085;
    color : white;
  }

.admin-table tr:nth-of-type(even) td{
    background-color: rgba(22, 160, 133, 0.3) !important;
}

.admin-table > tbody > tr.selected{
    background-color: rgba(22, 160, 133, 0.85) !important;
}

.admin-table > tbody > tr:hover{
    background-color: #16a085 !important;
    color: white;
}

/*Tablas estudiante*/

.estudiante-table th{
    background-color: #B40404;
    color : white;
}

.estudiante-table tr:nth-of-type(even) td{
    background-color: rgba(180,4,4,0.3);
}

.estudiante-table > tbody > tr.selected{
    background-color: rgba(180,4,4,0.85) !important;
}

.estudiante-table > tbody > tr:hover{
    background-color: #B40404 !important;
    color: white;
}

/*Tablas empresa*/

.empresa-table th{
    background-color: #448AFF;
    color : white;
}

.empresa-table tr:nth-of-type(even) td{
    background-color: rgba(70,150,250,0.3);
}

.empresa-table > tbody > tr.selected{
    background-color: rgba(70,150,250,0.85) !important;
}

.empresa-table > tbody > tr:hover{
    background-color: #448AFF !important;
    color: white;
}

/*Estado*/

 .cell-status .pass{
  color:green;
}

 .cell-status .fail{
  color:red;
}

 .cell-status .warning{
    color:darkgoldenrod;
}

/*==============================================================*/

 /*Filtros*/

.filtros{
  margin : 20px;

}

.filtros label{
  font-size:1.00em;
}

.filtro{
  margin:0;
  background:none;

  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Magic font size number to prevent iOS text zoom */
  font-size:1.00em;
  /* General select styles: change as needed */
  /* font-weight: bold; */
  color: #444;
  padding: .6em 1.9em .5em .8em;
  line-height:1.3;

  border: 1px solid #bbb;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  background: #f3f3f3;
}

/*==============================================================*/

/*Pagina Admin Demandas Vista */
#content-perfil img{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 250px;
}

#content-perfil .header-perfil{
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
  width: 60%;
}

#content-perfil #informacion-personal{
  clear: both;
  padding:10px;
}

#content-perfil #documentacion-adicional{
  clear: both;
   padding:10px;
}


/*==============================================================*/
/*Pagina Buzón */
.buzon{
  text-align: center;
  width: 70%;
}
.buzon h1, h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-buzon > fieldset{
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  text-align: left;
}

.form-buzon textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

.form-buzon button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  color:#FFF;
  margin:10px 0 5px;
  padding:10px;
  font-size:15px;
}
.form-buzon #buzon-submit-empresa {
   background: #448AFF;
}

.form-buzon #buzon-submit-estudiante {
   background: #B40404;
}
/*==============================================================*/
/*Pagina Perfil Empresa */

.perfil-empresa-content {
  width: 900px;
}
.container-empresa-perfil {
  background: #f5f7fa;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 900px;
  height: 756px;
}
.perfil-empresa-content .titulo-perfil {
  background: #67a2b9;
  width: 900px;
  height: 195px;
  padding-top: 20px;
  position: relative;
}


.perfil-empresa-content .logo-perfil {
  border: 2px solid #444;
  background-size: 200px 180px;
  width: 200px;
  height: 180px;
  margin-left: 40px;
  display: inline-block;
  position: absolute;
  z-index: 2;
}
.perfil-empresa-content .datos-logo-perfil {
  border: 1px solid #ccc;
  background: #fff;
  width: 638px;
  height: 120px;
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}
.perfil-empresa-content .datos-logo-perfil {
  padding-left: 260px;
  padding-top: 40px;
}
.perfil-empresa-content .container-empresa-perfil .text-muted {
  color: #7f8490;
}
.perfil-empresa-content #nombre-empresa {
  margin-bottom: 2px;
}

.perfil-empresa-content .descripcion-perfil {
  padding: 30px 50px 30px 30px;
}

.perfil-empresa-content .descripcion-perfil p{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  padding-bottom: 10px;
}
.perfil-empresa-content .datos-interes-perfil {
  width: 900px;
}
.perfil-empresa-content .bloque {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-align: justify;
  width: 200px;
  float: left;
  margin: 0px 50px;
  text-align: left;
}
.perfil-empresa-content .text-muted {
  color: #555;
  margin-bottom: 14px;
}
/*==============================================================*/

/* DASHBOARD EMPRESA */
.Buscador-talentos{
	float:left;
}

/*Ofertas empresa*/

.content #fieldset-crear-oferta {
    background-color: #3498BB;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.content #fieldset-crear-oferta > input{

    width: 200px;
}

.content #fieldset-crear-oferta > label,h2 {
    color: #FFFFFF;
}


.content #fieldset-crear-oferta > textarea{
    width: 100%;
    min-height: 100px;
}

/*==============================================================*/

#formSettings{
    margin-top: 70px;
    font-size: xx-large;
}
#formSettingsLeft {
    margin-left: 150px;
    margin-bottom: 50px;
    float: left;
    text-align: left;
}
#formSettingsRight{
    margin-right: 150px;
    margin-bottom: 50px;
    float: left;
    text-align: left;
}
#formSettingsBotton{
    background-color: #9d9d9d;
}

/*==============================================================*/

/* CONTACT INFORMATION (PROFILE) */

.contact a{-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;display:block;background-color:rgba(255,0255,255,0.25);font-size:20px;text-align:center;color:#000;padding:7px}
.contact a:hover{background-color:rgba(255,255,255,0.85);text-decoration:none}
.contact a.skype:hover,.fa-skype{color:#00aff0}
.contact a.google:hover,.fa-google-plus{color:#dd4b39}
.contact a.linkedin:hover,.fa-linkedin{color:#0e76a8}
.contact a.twitter:hover,.fa-twitter{color:#00acee}