@import url(https://fonts.googleapis.com/css?family=Satisfy);

/*CSS correspondiente a la sección titlebar*/
/*==============================================================*/

.titlebar {
  	color: #fff;
    font-family: "helvitica", arial;
	font-size: 1.5em;
    height: 50px;
    width: 100%;
    min-width: 440px;
    position: fixed; /*Hace que la posición no varie ni haciendo scroll, siempre se mantiene en el mismo lugar*/
    z-index: 10; /*Necesario para que el titlebar se muestre encima de otros elementos*/
	padding: 0 10px 0 10px;
}

#admin-titlebar {
	background: linear-gradient(#004D40, #16a085);
}

#empresa-titlebar {
	background: linear-gradient(#01579B, #3498BB);
}

#estudiante-titlebar{
	background: linear-gradient(#B40404, #E53935);
}


.titlebar > .burger {
	display: none;
	float: left;
	padding-top: 15px;
}

.titlebar img { /*favicon*/
	float: left;
	animation-name: faviconAnimation;
	animation-duration: 0.4s;
	animation-delay: 0.09s;
	animation-iteration-count: 1;
	animation-direction: both;
}
@keyframes faviconAnimation {
	0%{transform: scale(4,4);}
	50%{transform: scale(1,1);}
	75%{transform: scale(4,4);}
	100%{transform: scale(1,1);}
}
#label-titlebar {
    float: left;
	margin: 0 2% 0 2%;
	height: 100%;
}

#label-titlebar > label {
	height: 100%;
	margin: 0;
	vertical-align: center;
}

#label-titlebar > label > i{
	padding-right: 10px;
	padding-left: 10px;
}

#label-titlebar #title-site {
	font-family: 'Satisfy', cursive;
	font-size: 1.5em;
	text-shadow: 5px 5px 8px #000000;
	height: 100%;
}

#label-titlebar #title-site:hover{
	text-shadow: none;
	text-decoration: none;
}

#label-titlebar a:hover {
	text-decoration: underline;
}

#label-titlebar a {
	font-family: Arial;
	font-size: 0.8em;
	text-decoration: none;
	color: white;
}

.search-bar {
	float: right;
	margin-top: 7px;
}

.search-bar > input {
	border: none;
	font:12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 10px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	border-radius: 9px;
	color: #000;
	height: 30px;
}

#icons-titlebar {
	height: 100%;
	float: right;
}

#icons-titlebar > ul {
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#icons-titlebar > ul > li {
	display: inline-block;
	height: 100%;
}

#icons-titlebar > ul > li:hover {
	background: rgba(0, 0, 0, 0.3);
}

#icons-titlebar > ul > li > a {
	padding: 0 20px 0 20px;
    text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
}
#icons-titlebar > ul > li > a > i {
	vertical-align: -70%;
	font-size: 1.1em;
}

#icons-titlebar > ul > li > a:link {
	text-decoration: none;
	color: white;
}
#icons-titlebar > ul > li > a:visited {
	text-decoration: none;
	color: white;
}

#icons-titlebar > ul > li > a:hover {
	text-decoration: none;
}

#icons-titlebar > ul > li > a:active {
	text-decoration: none;
}

#icons-titlebar #bell:hover { /*animación para campana*/
	animation-name: ringinBell;
	animation-duration: 0.1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: both;
}

@keyframes ringinBell
{
  0%   {transform: rotate(10deg)}
  25%  {transform: rotate(-10deg)}
  50%  {transform: rotate(0)}
  75%  {transform: rotate(10deg)}
  100% {transform: rotate(0)}
}

#icons-titlebar #settings:hover { /*animación para ajustes*/
	animation-name: rotateSettings;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

@keyframes rotateSettings
{
  from {
  	transform: rotate(0deg);
  }
  to{
  	transform: rotate(360deg);
  }
}
/*==============================================================*/


/*CSS correspondiente a la sección footer (pie de página)*/
/*==============================================================*/

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
    min-width: 440px;
	height: 20px;
	color: white;
	text-align: center;
	font-family: 'Satisfy', cursive;
	z-index: 11;
}

#admin-footer {
	background: #004D40;
}

#empresa-footer {
    background: #01579B;
}

#estudiante-footer {
	background: #B40404;
}

.footer-icons {
	float: right;
	text-decoration: none;
	margin-right: 10px;
}

.footer-icons a:active {
	text-decoration: none;
}

.footer-icons a:link {
	text-decoration: none;
	color: white;
}

.footer-icons a:visited {
    text-decoration: none;
    color: white;
}
/*==============================================================*/

@media only screen and (max-width: 880px) {
	/* For mobile phones: */

	#dashboard-content {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
	}

	.titlebar > img {
		display: none;
	}

	.titlebar > .burger {
		display: block;
	}

    .titlebar > #label-titlebar i,#current-page,#previous-page {
        display:none;
    }
	.search-bar > form > input {
		display: none;
	}

}

@media only screen and (max-width: 535px) {

	#icons-titlebar {
		display: none;
	}
}