body{
	font-family: sans-serif;
}

li.li2{
color: #fff;
display: inline-block;
width: 100px;
height: 60px;
padding-top: 40px;
border-radius: 150px;
background: #29DD89;
text-align: center;
margin:0 auto;
}

li.li2:nth-child(2n){
	background: #2C614B;
}