.content {
	position: relative;
	top: 50px;
	left: 200px;
	padding: 15px;
	min-width: 800px;
  background: #f5f7fa;
}
/*CSS correspondiente a la sección contenido*/
/*==============================================================*/

/*Dashboard search*/

.dashboard-content .btn-search {
	border: 1px solid #ccc;
	background: #fff;
	font-size: 12px;
	padding: 6px 10px;
	margin-left: 30px;
	margin-top: 20px;
	width: 820px;
}

.dashboard-content .icon-search {
	padding-left: 2px;
	display: inline-block;
}
.dashboard-content .txt-search {
	padding-left: 17px;
	width: 94%;
	display: inline-block;
}


/*Widgets dashboard*/

.square a {
  text-decoration: none;
  color: inherit;
}
.square a:link {
  text-decoration: none;
}

.square a:visited {
  text-decoration: none;
}

.dashboard-content {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.dashboard-content .widget-content {
  padding-top: 35px;
  width: 900px;
  height: 300px;
  text-align: center;
}

.dashboard-content .widget {
  border: 1px solid #ccc;
  background: #f5f7fa;
  margin-right: 15px;
  margin-left: 15px;
  width: 400px;
  height: 280px;
  display: inline-block;

  -webkit-box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
  -moz-box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
  box-shadow: -6px 6px 5px -3px rgba(150,135,150,1);
}

.dashboard-content .widget-header {
  background: #fff;
  color: #000;
  width: 370px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.dashboard-content .content-widget {
  background: #fff;
  width: 385px;
  height: 225px;
  padding-left: 15px;
  text-align: left;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard-content .title {
  font-size: 18px;
  display: inline-block;
}

.dashboard-content .title-items {
  display: inline-block;
  float: right;
}

.dashboard-content .square {
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  color: #ed5565;
  width: 50px;
  height: 50px;
  border: 1px solid #ed5565;
  padding: 2px 8px;
}

.dashboard-content .square:hover {
  color: #000;
  background: #ed5565
}

.dashboard-content .media {
  margin-top: 12px;
  margin-right: 12px;
}

.dashboard-content .media-left {
  display: inline-block;
  vertical-align: top;
}

.dashboard-content .media-body {
  margin-left: 10px;
  margin-right: 5px;
  display: inline-block;
  font-size: 15px;
}

.dashboard-content .text-muted {
  color: #777;
}

/*Cuadro de búsqueda */

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  transform: translate(-50%, -50%);
}

/*==============================================================*/

/*Content de los widgets del dashboard */

.widget-content li{
    border: 1px solid grey;
    list-style: none;
    width: 100%;
}

/*==============================================================*/

/*Tabla genérica content*/

.table-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.admin-table,.table-header{
    width: 75%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin-left: 30px;
}

.admin-table td, th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
}

.admin-table td{
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
  }

.admin-table  th{
    background-color: #16a085;
    color : white;
  }

.admin-table tr:nth-of-type(even) td{
    background-color: rgba(22, 160, 133, 0.3);
  }


.table-container .table-header {
  background-color: grey;
  margin-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  color:white;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.admin-table .cell-status .pass{
  color:green;
}

.admin-table .cell-status .fail{
  color:red;
}


/*==============================================================*/

 /*Filtros*/

.filtros{
  margin : 20px;

}

.filtros label{
  font-size:1.00em;
}

.filtro{
  margin:0;
  background:none;

  /* Prefixed box-sizing rules necessary for older browsers */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Magic font size number to prevent iOS text zoom */
  font-size:1.00em;
  /* General select styles: change as needed */
  /* font-weight: bold; */
  color: #444;
  padding: .6em 1.9em .5em .8em;
  line-height:1.3;

  border: 1px solid #bbb;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  background: #f3f3f3;
}

/*==============================================================*/

/*Pagina Admin Demandas Vista */

#content-demandas-ver #aptitudes li.li2{
float: left;
color: #fff;
display: inline-block;
width: 90px;
height: 30px;
padding: 10px;
border-radius: 20px;
background: #29DD89;
text-align: center;
margin: 5px;
}


#content-demandas-ver #aptitudes li.li2:nth-child(2n){
   background: #2C614B;
}

#content-demandas-ver img{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 250px;
}

#content-demandas-ver #contenedor-perfil{
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
  width: 60%;
}

#content-demandas-ver #informacion-personal{
  clear: both;
}

#content-demandas-ver #documentacion-adicional{
  clear: both;

}
