body, html{
  margin: 0;
  width: 100%;
  height: 100%;
}

.admin-container {
	height: 100%;
	width: 100%;
}
/*CSS correspondiente a la seccion sidebar*/
/*==============================================================*/

#admin-sidebar {
  	font-family: "helvitica", arial;
	height: 100%;
	min-width: 15%;
	max-width: 20%
	top: 40px;
	position: fixed;
}

#admin-sidebar .menu-title {
  padding: 20px;
  background: #16a085;
  color: #fff;
}
.menu-content {
	background: #444;
	height: 100%;
}
.menu-content ul {
  list-style: none;
  background: #444;
  overflow: hidden;
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-padding-start: 0px;
  height: 100%;
}
#admin-sidebar .menu-content ul li{
  border-top: thin solid #555;
}

#admin-sidebar .menu-content ul li :hover{
  background: #555;
  color: #16a085;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#admin-sidebar .menu-content ul li a {
	text-align: center;
  	padding: 20px 0px 20px 0px;
  	width: 100%;
  	display: table;
  	text-decoration: none;
  	color: #fff;
  
}
