body{
  margin: 0px 0px 0px 0px;
}
#admin-sidebar {
 	float: left;
  font-family: "helvitica", arial;
	min-height: 100%;
	width: 250px;
}

.menu-title {
  padding: 20px;
  background: #16a085;
  color: #fff;
}

.menu-content ul {
  list-style: none;
  background: #444;
  overflow: hidden;
  list-style-type: none;
 -webkit-margin-before: 0em;
 -webkit-padding-start: 0px;
}
.menu-content ul li{
  border-top: thin solid #555;
  list-style-type: none;
  margin-left: 0px;
}

.menu-content ul li :hover{
  background: #555;
  color: #16a085;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.menu-content ul li a {
  padding: 20px 20px 20px 20px;
  width: 100%;
  display: table;
  text-decoration: none;
  color: #fff;
  
}
