#admin-titlebar {
    background: #16a085;   
  	color: #fff;
    font-family: "helvitica", arial;
    margin: 0 0 0 0;
}

.titlebar {
    margin:10px 0px 10px 0px;
    height: 40px;
}

.label-titlebar {
    padding-top:10px;
    float:left;
}

.label-titlebar label {
    margin-left:10px; 
}

.icons-titlebar {
	float: right;
	margin: 10px 10px 0px 10px;
}

.icons-titlebar a {
	margin-left: 15px;
	margin-right: 15px;
    text-decoration: none

}

.icons-titlebar a:link {
    text-decoration: none;
    color: white;
}
.icons-titlebar a:visited {
    text-decoration: none;
    color: white;
}

.icons-titlebar a:hover {
    text-decoration: none;
    color: #444;
}

.icons-titlebar a:active {
    text-decoration: none;
}