@import url(https://fonts.googleapis.com/css?family=Satisfy);

/*CSS correspondiente a la sección titlebar*/
/*==============================================================*/

#admin-titlebar {
    background: #16a085;   
  	color: #fff;
    font-family: "helvitica", arial;
    height: 50px;
    width: 100%;
    min-width: 800px;
    position: fixed; /*Hace que la posición no varie ni haciendo scroll, siempre se mantiene en el mismo lugar*/
    z-index: 10; /*Necesario para que el titlebar se muestre encima de otros elementos*/
}

.label-titlebar {
    padding: 8px 0 8px 20px;
    float: left;
}

.label-titlebar #title {
	font-family: 'Satisfy', cursive;
	font-size: 25px;
}

.icons-titlebar {
	float: right;
	padding: 15px 0 15px 0;
}

.icons-titlebar a {
	margin-left: 15px;
	margin-right: 20px;
    text-decoration: none
}

.icons-titlebar a:link {
    text-decoration: none;
    color: white;
}
.icons-titlebar a:visited {
    text-decoration: none;
    color: white;
}

.icons-titlebar a:hover {
    text-decoration: none;
    color: #444;
}

.icons-titlebar a:active {
    text-decoration: none;
}
/*==============================================================*/



/*CSS correspondiente a la sección footer (pie de página)*/
/*==============================================================*/

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-width: 800px;
	height: 20px;
	max-height: 20px;
	background: #16a085;
	color: white;
	text-align: center;
	font-family: 'Satisfy', cursive;
	z-index: 11;
}

#footer-icons {
	float: right;
	text-decoration: none;
	margin-right: 10px;
}

#footer-icons a:active {
	text-decoration: none;
}

#footer-icons a:link {
	text-decoration: none;
	color: white;
}

#footer-icons a:hover {
	text-decoration: none;
	color: #444;
}

#footer-icons a:visited {
    text-decoration: none;
    color: white;
}
/*==============================================================*/