/* index styles */

#container{
  width: 900px;
  margin: 0 auto;
}
#header {
  background-image:url("/img/headerBackground.jpg");
  background-repeat:no-repeat;
  background-position: center;
  color:ivory;
  text-align:center;
  padding:5px;
  font-size: 200%;
  font-style:oblique;
}
#logo{
  max-width: 60px;
  max-height: 60px;
}
#menu {
  line-height:30px;
  background-color:#eeeeee;
  height:300px;
  width: 100px;
  float:left;
  padding:5px;
  text-align: center;
}
#content {
  width:750px;
  float:left;
  padding:10px;
}
#footer {
  background-color: Tomato;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}
ul{
  margin-top: 10px;
  margin-bottom: 10px;
}
